.wrapper {
  min-width: 100px;
  padding: 9px 16px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid transparent;
}

.primary {
  color: var(--white);
  background-color: var(--primary);

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
      rgb(254, 44, 85);
  }
}

.outline {
  color: var(--primary);
  border-color: currentColor;

  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
  }
}

// Button sizes
.small {
  // min-width: 88px;
  // padding: 4px 16px;
}

.large {
  padding: 6px 8px;
  min-width: 168px;
  min-height: 48px;
}
